In [1]:
#Domain – HR
#focus – Insights from data
import pandas as pd

# Set the option on how to display float
# To See the impact of this command comment it out and check outputs
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#  Read Salaries.csv as a dataframe called salary
salary = pd.read_csv('Salaries.csv')

# Check the basic data

print(salary.head())

# Get more info on data & Verify that 148,648 records are there

print (salary.info())


# Get Some statistical summary of data
print (salary.describe())


# Check the total salary cost per year and see how it has increased over years

sum_year = salary.groupby('Year').sum()['TotalPayBenefits']
print ( sum_year)

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0 167411.180        0.000 400184.250       nan 567595.430        567595.430
1 155966.020   245131.880 137811.380       nan 538909.280        538909.280
2 212739.130   106088.180  16452.600       nan 335279.910        335279.910
3  77916.000    56120.710 198306.900       nan 332343.610        332343.610
4 134401.600     9737.000 182234.590       nan 326373.190        326373.190

   Year  Notes         Agency Status
0  2011    nan  San Francisco    NaN
1  2011    nan  San Francisco    NaN
2  2011    nan  San Francisco    NaN
3  2011    nan  San Francisco    NaN
4  2011    nan  San Francisco    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
Id                  148648 non-null int64
EmployeeName        148648 non-null object
JobTitle            148648 non-null object
BasePay             148043 non-null float64
OvertimePay         148648 non-null float64
OtherPay            148648 non-null float64
Benefits            112490 non-null float64
TotalPay            148648 non-null float64
TotalPayBenefits    148648 non-null float64
Year                148648 non-null int64
Notes               0 non-null float64
Agency              148648 non-null object
Status              38119 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB
None
              Id    BasePay  OvertimePay   OtherPay   Benefits   TotalPay  \
count 148648.000 148043.000   148648.000 148648.000 112490.000 148648.000
mean   74326.110  66325.398     5065.821   3648.762  25007.777  74770.035
std    42911.633  42764.899    11454.267   8056.656  15402.235  50516.441
min        1.000   -166.010       -0.010  -7058.590    -33.890   -618.130
25%    37163.750  33587.350        0.000      0.000  11535.193  36169.370
50%    74326.500  65007.450        0.000    811.205  28628.365  71427.130
75%   111488.250  94691.050     4657.597   4236.035  35566.790 105840.920
max   148654.000 319275.010   245131.880 400184.250  96570.660 567595.430

       TotalPayBenefits       Year  Notes
count        148648.000 148648.000  0.000
mean          93694.776   2012.523    nan
std           62792.743      1.118    nan
min            -618.130   2011.000    nan
25%           44072.062   2012.000    nan
50%           92406.020   2013.000    nan
75%          132876.997   2014.000    nan
max          567595.430   2014.000    nan
Year
2011   2594113030.720
2012   3696790118.450
2013   3814772184.370
2014   3821865780.600
Name: TotalPayBenefits, dtype: float64

/usr/local/anaconda/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Question 1: Compute how much total salary cost has increased from year 2011 to 2014

# Check the mean salary cost per year and see how it has increased per year

mean_year = salary.groupby('Year').mean()['TotalPayBenefits']
print ( mean_year)

# To Effectively Reduce Cost Check which is the highest mean paying job Title Wise

Year
2011    71743.820
2012   100551.887
2013   101440.520
2014   100261.439
Name: TotalPayBenefits, dtype: float64

In [3]:
# Question 2: Which Job Title in Year 2014 has highest mean salary
mean_title_year = salary.groupby(['Year','JobTitle']).mean()['TotalPayBenefits']
print ( mean_title_year)

Year  JobTitle
2011  ACCOUNT CLERK                                         44035.664
      ACCOUNTANT                                            47429.268
      ACCOUNTANT INTERN                                     29031.743
      ACUPUNCTURIST                                         67594.400
      ADMINISTRATIVE ANALYST                                63954.868
      ADMINISTRATIVE ANALYST II                             61497.035
      ADMINISTRATIVE ANALYST III                            92698.515
      ADMINISTRATIVE ENGINEER                              127961.430
      ADMINISTRATIVE SERVICES MANAGER                       77015.580
      ADMINISTRATOR, SFGH MEDICAL CENTER                   257124.440
      AFFIRMATIVE ACTION SPECIALIST                         68213.983
      AGRICULTURAL INSPECTOR                                53586.100
      AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI     1927.500
      AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS         15420.000
      AIRPORT COMMUNICATIONS OPERATOR                       81214.810
      AIRPORT COMMUNICATIONS SUPERVISOR                     88180.000
      AIRPORT ECONOMIC PLANNER                             108264.822
      AIRPORT ELECTRICIAN                                  108707.828
      AIRPORT ELECTRICIAN SUPERVISOR                       117088.760
      AIRPORT EMERGENCY PLANNING COORDINATOR                75865.935
      AIRPORT MECHANICAL MAINTENANCE SUPERVISOR            128534.170
      AIRPORT NOISE ABATEMENT SPECIALIST                    49497.225
      AIRPORT OPERATIONS SUPERVISOR                         94913.980
      AIRPORT POLICE SERVICES AIDE                          60129.931
      AIRPORT PROPERTY SPECIALIST I                         77681.843
      AIRPORT SAFETY OFFICER                                74599.264
      ANESTHETIST                                          112265.260
      ANIMAL CARE ASSISTANT SUPERVISOR                      56298.620
      ANIMAL CARE ATTENDANT                                 43780.724
      ANIMAL CARE SUPERVISOR                                73618.870
                                                              ...
2014  Victim/Witness Investigator 2                         92414.386
      Victim/Witness Investigator 3                        108339.598
      Volunteer/Outreach Coord                              80124.626
      Wastewater Control Inspector                         112761.388
      Water & Power Maint Sprv 1                           135292.120
      Water Conservation Admin                             159008.930
      Water Const&Main Supt                                225784.240
      Water Meter Repairer                                  87759.045
      Water Meter Shop Supervisor 1                        119121.320
      Water Operations Analyst                             139219.161
      Water Quality Tech III                               102042.746
      Water Quality Technician                              94591.215
      Water QualityTech I/II                                 6306.720
      Water Service Inspector                              117856.226
      Watershed Forester                                   138282.385
      Watershed Keeper                                      94268.642
      Watershed Keeper Supervisor                          117978.900
      Watershed Worker (Seasonal)                           10349.227
      Welder                                               124063.229
      Welfare Fraud Investigator                           108896.628
      Wharfinger 1                                          95670.330
      Wharfinger 2                                         112926.617
      Window Cleaner                                       101467.584
      Window Cleaner Supervisor                            111085.850
      Wire Rope Cable Maint Mechanic                       155044.213
      Wire Rope Cable Maint Sprv                           228338.090
      Worker's Comp Supervisor 1                            76964.452
      Worker's Compensation Adjuster                        97213.494
      X-Ray Laboratory Aide                                 68754.120
      Youth Comm Advisor                                    52011.190
Name: TotalPayBenefits, Length: 4136, dtype: float64

In [4]:
# Question 3: How much money could have been saved in Year 2014 by stopping OverTimePay

over_time_pay_year = salary.groupby('Year').sum()['OvertimePay']
print ( over_time_pay_year)

Year
2011   163819110.920
2012   184665045.530
2013   198621428.290
2014   205918599.270
Name: OvertimePay, dtype: float64

In [5]:
# Question 4: Which are the top 5 common job in Year 2014 and how much do they cost SFO -- Little Bit Tricky
top_job_title = salary[salary['Year'] == 2014]['JobTitle'].value_counts().head(5)
print (top_job_title)

# Uncomment this and check what it prints
#print (type(top_job_title))

# Calculate the Cost
sum_cost = 0
for index,value in top_job_title.iteritems():
    print(index,value)
    sum_cost += sum(salary[ (salary['Year']== 2014) & (salary['JobTitle'] == index)]['TotalPayBenefits'])

print (" Total Cost of Top 5 Jobs in Year 2014 ", sum_cost)

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64
Transit Operator 2479
Special Nurse 1478
Registered Nurse 1234
Public Svc Aide-Public Works 916
Firefighter 815
 Total Cost of Top 5 Jobs in Year 2014  610269227.6600003

In [6]:
# Question 5: Who was the top earning employee across all the years
# This is compute intensive -- might take some time to execute

top_sal = salary.groupby('EmployeeName').sum()['TotalPayBenefits']
print((top_sal.sort_values(axis=0)))

# You can improve the code above

print ("End of Cast Study.............")

EmployeeName
Joe Lopez                  -618.130
David P Kucia               -33.890
Mark E Laherty               -8.200
Timothy E Gibson             -2.730
Mark W Mcclure                0.000
PAULETTE ADAMS                0.000
KAUKAB MOHSIN                 0.000
JOSEPHINE MCCREARY            0.000
Charlene D Mccully            0.000
JOE BROWN JR                  0.300
Donald Clark                  1.910
SERENA HUGHES                 4.170
John Draper                   5.170
Nereida  Vega                 5.560
ROCK CRAWFORD                 5.800
MARCELLA TUCKER               8.860
Arthur L Curry               10.670
Roberto A Perez Lima         11.330
Darius T Gardner             11.330
Chinaenye E Nwachukwu        12.140
Mouy  Him                    12.140
Mengru  Chen                 12.140
John Carajan                 12.900
Kenneth Mackey               15.350
Carlos J Hernadez            15.990
Guillermo A Rodriguez        16.190
MARVA MOORE                  17.420
WALTER WILLIAMS              17.780
ANH LUU                      18.780
Simone Koga                  19.910
                            ...
Steven  Lee              772100.810
Henry Yee                785480.980
Michael Wong             787388.080
Michael Lee              792816.380
Harlan L Kelly-Jr        794616.560
William Lee              794871.350
Ana Gonzalez             795145.150
David L Franklin         799045.860
John Lee                 799287.730
KEVIN LEE                809424.840
Ellen G Moffatt          817504.820
Frank Lee                823942.970
Ryan J Jones             824661.390
Thomas Smith             831608.570
Joanne M Hayes-White     839788.500
Gregory P Suhr           843834.500
David Shinn              844056.710
Amy P Hart               863398.990
John Miller              874900.730
Robert Wong              901466.160
Michael Brown            907786.480
John Chan                946239.260
Alan Wong               1011610.580
Wayne Wong              1021109.550
John L Martin           1054756.220
Richard Lee             1268668.840
Stanley Lee             1457279.680
William Wong            1459954.170
Steven Lee              1706550.760
Kevin Lee               1778487.170
Name: TotalPayBenefits, Length: 110809, dtype: float64
End of Cast Study.............